@use "main";

.title {
    padding-left: 10px;
}

.drawing {
    display: flex;
    align-items: stretch;
    padding: 10px;
    padding-top: 0px;
    flex-grow: 1;
}

.canvas {
    border : 2px solid rgb(75, 74, 74);
    border-right: none;
    width: 80%
}

.toolbar {
    border: 2px solid black;
    flex-grow: 1;
}